@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Playfair Display', serif;
}
body{
    background: linear-gradient(45deg, #8fdfff, #5fbfff);
     min-height: 100vh;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: linear-gradient(45deg, #8fdfff, #5fbfff);
  }
  
  nav .menu-icon {
    cursor: pointer;
    display: none;
  }
  
  nav .logo a {
    font-size: 30px;
    font-weight: bold;
    color: rgb(31, 47, 48);
    text-decoration: none;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    padding: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: rgb(31, 47, 48);
  }
  
  nav ul button {
    border: none;
    background-color: cadetblue;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .nav-link {
    font-size: 24px;
    color: rgb(0, 105, 153);
    text-decoration: none;
  }
  
.text-bx h1{
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 35px;
    position: relative;
    left: 15px;
}
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
  }
  .btn-primary:hover {
    background-color: #0056b3;
  }
  .btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 174, 255, 0.658);
  }
  .text-bx {
    margin-bottom: 20px;
  }
  .d-grid {
    display: grid;
  }
  .d-md-block {
    display: block;
  }
@media (max-width: 768px) {
    .text-bx {
      margin-bottom: 20px;
    }
    .d-grid {
        grid-template-columns: 1fr;
      }
  }
